<!-- Start Section -->
<div class="section subscribe-scetion section-pad section-bg-light" id="subscribe">
    <div class="container">
        <div class="row  justify-content-center text-center">
            <div class="col-lg-6 res-l-bttm">
                <div class="subscribe-rounded">
                    <h5 class="animated" data-animate="fadeInUp" data-delay=".1">Noch Fragen?
                    </h5>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Gerne helfen wir persönlich bei weiteren
                        Fragen</p>
                    <button type="submit" class="btn btn-plane px-5">Zum Kontakt</button>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
<!-- End Section -->

<!-- Start Section -->
<div class="section footer-scetion footer-lavendar">
    <div class="gaps size-4x"></div>
    <div class="gaps size-2x d-none d-sm-block"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-3 res-m-bttm">
                <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="index.html">
                    <img class="logo logo-light" alt="logo" src="images/synconsult-logo-white.png">
                </a>
            </div><!-- .col  -->
            <div class="col-sm-4 col-lg-2 res-l-bttm">
                <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                    <li><a href="#token" class="menu-link">Leistungen</a></li>
                    <li><a href="#roadmap" class="menu-link">Unternehmen</a></li>
                    <li><a href="#about" class="menu-link">Projekte</a></li>
                </ul>
            </div><!-- .col  -->
            <div class="col-sm-4 col-lg-2 res-l-bttm">
                <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                    <li><a href="#team" class="menu-link">Karriere</a></li>
                    <li><a href="#about" class="menu-link">Kontakt</a></li>
                    <li><a href="#contact" class="menu-link">Sprache</a></li>
                </ul>
            </div><!-- .col  -->
            <div class="col-sm-4 col-lg-3">
                <ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
                    <li>Baumwall 7<br>20459 Hamburg
                    </li>
                    <li>+40 1234 1234</li>
                    <li>info@synconsult.xy</li>
                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->

    <hr class="hr-line"><!-- .hr-line  -->

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <span class="copyright-text">
                    Copyright &copy; 2019, Synconsult GmbH</span>
            </div><!-- .col  -->
            <div class="col-md-5 text-right mobile-left">
                <ul class="footer-links">
                    <li><a href="#">Datenschutzerklärung</a></li>
                    <li><a href="#">AGB</a></li>
                    <li><a href="#">Impressum</a></li>
                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
    <div class="gaps size-2x"></div>
</div>
<!-- End Section -->