<div class="theme-lavendar io-lavendar" data-spy="scroll" data-target="#mainnav" data-offset="80">

    <!-- Header -->
    <header class="site-header is-sticky">

        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">

                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="index.html">
                    <img class="logo logo-dark" alt="logo" src="images/synconsult-logo.png">
                    <img class="logo logo-light" alt="logo" src="images/synconsult-logo-white.png">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                        <li class="nav-item"><a class="nav-link menu-link" href="#about">Leistungen</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#about">Unternehmen</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#why">Projekte</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#team">Karriere</a></li>
                    </ul>
                    <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay=".85">
                        <li class="nav-item"><a class="nav-link btn btn-white btn-sm menu-link" href="#">Kontakt</a>
                        </li>
                        <li class="nav-item lang-switch">
                            <a class="btn btn-sm btn-outline" href="#" data-toggle="dropdown"><img class="lang-flag"
                                    src="images/flag-de.jpg" alt="">DE <em class="ti ti-angle-down"></em></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><img class="lang-flag" src="images/flag-fr.jpg"
                                        alt="">FR</a>
                                <a class="dropdown-item" href="#"><img class="lang-flag" src="images/flag-ch.jpg"
                                        alt="">CH</a>
                                <a class="dropdown-item" href="#"><img class="lang-flag" src="images/flag-br.jpg"
                                        alt="">BR</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>
<!-- End Navbar -->