<body class="theme-lavendar io-lavendar" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">
	    
	    <!-- Place Particle Js -->
	    <div id="particles-js" class="particles-container particles-js"></div>

		<!-- Banner/Slider -->
		<div id="header" class="banner">
			<div class="banner-rounded-bg">
				<span class="banner-shade-1">
					<span class="banner-shade-2">
						<span class="banner-shade-3"></span>
					</span>
				</span>
			</div>
			<div class="container">
				<div class="banner-content">
					<div class="row">
						<div class="col-lg-6">
							<div class="header-txt">
								<h1 class="" data-animate="fadeInUp" data-delay="1.25">ICO Template <span>designed by</span> iO<br class="d-none d-xl-block"> <span>and for</span> blockchain developer <span>or</span> ICO Startups</h1>
								<p class="lead " data-animate="fadeInUp" data-delay="1.35">ICO Crypto is the best selling, modern, clean and elegant design, created for ICO<br class="d-none d-xl-block"> development agencies. It’s Include all necessary features that fit for ICOs.</p>
							</div>
						</div><!-- .col  -->
						<div class="col-lg-6">
							<img class="conveyor" src="/assets/images/conveyorminimal.png" height="300" alt="">
						</div>
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
				</div>
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->

		<!-- Start Section -->
		<div class="section partner-section section-bg-light">
				<div class="container text-center">
					<h6 class="small-heading " data-animate="fadeInUp" data-delay=".1">Our Partners</h6>
					<ul class="partner-list-s2 d-flex flex-wrap align-items-center">
						<li class="" data-animate="fadeInUp" data-delay=".2"><a href="#"><img src="images/partner-xs-a.png" alt="partner"></a></li>
						<li class="" data-animate="fadeInUp" data-delay=".25"><a href="#"><img src="images/partner-xs-b.png" alt="partner"></a></li>
						<li class="" data-animate="fadeInUp" data-delay=".3"><a href="#"><img src="images/partner-xs-c.png" alt="partner"></a></li>
						<li class="" data-animate="fadeInUp" data-delay=".35"><a href="#"><img src="images/partner-xs-d.png" alt="partner"></a></li>
						<li class="" data-animate="fadeInUp" data-delay=".4"><a href="#"><img src="images/partner-xs-e.png" alt="partner"></a></li>
						<li class="" data-animate="fadeInUp" data-delay=".45"><a href="#"><img src="images/partner-xs-f.png" alt="partner"></a></li>
					</ul>
				</div>
			</div>
			<!-- End Section -->
	
	<!-- Start Section -->
	<div class="section about-section section-pad no-pb section-bg-light" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="about-section-innr section-bg-lavendar">
						<div class="about-shade"></div>
						<h6 class="" data-animate="fadeInUp" data-delay=".2">About ICOX Coin</h6>
						<h3 class="" data-animate="fadeInUp" data-delay=".3">ICOX <span>is a decentralized currency that trades and invest with powerful</span> blockchain applications.</h3>
						<p class="" data-animate="fadeInUp" data-delay=".4">ICO Crypto is a platform for future of funding that powering the new blockchain. </p>
						<p class="" data-animate="fadeInUp" data-delay=".5">ICOX Coin is a cryptocurrency designed for unde omnis iste natus error sit voluptatem accus antium doloremque laudant aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<p class="" data-animate="fadeInUp" data-delay=".6">After seriously considering eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="about-info " data-animate="fadeInUp" data-delay=".7">
							<em class="ti ti-rocket"></em>
							<p>Pre-ICO ICOX Coin has already secured over 30 partnerships worldwide, with more partnerships being finalized each day.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="about-image " data-animate="fadeInUp" data-delay=".8">
						<img src="images/graph-lavendar-a.png" alt="graph">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section reason-scetion no-pb section-pad section-bg-light" id="why">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Why Choose us?</h2>
			</div>
			<div class="shadow round-md plr-x4">
				<div class="gaps size-2x"></div>
				<div class="row text-center">
					<div class="col-md-6 res-m-bttm">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".2">
							<img src="images/lavender-icon-a.png" alt="lav">
							<h5>Secured User Data</h5>
							<p>We protect user data and emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
						</div>
					</div>
					<div class="col-md-6 res-m-bttm">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".3">
							<img src="images/lavender-icon-b.png" alt="lav">
							<h5>Most Credibility</h5>
							<p>Most authentically sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cillum dolore eu fugiat ut labore et pariatur.</p>
						</div>
					</div>
					<div class="col-md-6 res-m-bttm">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".4">
							<img src="images/lavender-icon-c.png" alt="lav">
							<h5>Flexibility &amp; Easy to Use</h5>
							<p>You can trade &amp; invest toekn oluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere poss, omnis voluptas.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".5">
							<img src="images/lavender-icon-d.png" alt="lav">
							<h5>Big Data Insights</h5>
							<p>Our machines learning are able tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						</div>
					</div>
				</div><!-- .row  -->
				<div class="gaps size-2x"></div>
			</div>
		</div><!-- .container  -->
	</div>
	<!-- End Section --> 
	
	
	<!-- Start Section -->
	<div class="section process-scetion section-pad section-bg-light">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">How ICOX Works?</h2>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="slider-nav">
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".2"><em class="ikon ikon-paricle"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".3"><em class="ikon ikon-connect"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".4"><em class="ikon ikon-target"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".5"><em class="ikon ikon-shiled"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".6"><em class="ikon ikon-id-card"></em></div>
					</div>
				</div><!-- .col  -->
				<div class="col-lg-5">
					<div class="slider-pane " data-animate="fadeInUp" data-delay=".7">
						<div class="slider-pane-item pane-item-1">
							<h5 class="animate-up delay-5ms">Build blockchain algotrading models.</h5>
							<p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
						</div>
						<div class="slider-pane-item pane-item-2">
							<h5 class="animate-up delay-5ms">Connect with others blockchain mod.</h5>
							<p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
						</div>
						<div class="slider-pane-item pane-item-3">
							<h5 class="animate-up delay-5ms">Target your goal to reach out.</h5>
							<p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
						</div>
						<div class="slider-pane-item pane-item-4">
							<h5 class="animate-up delay-5ms">Protect your blockchain models.</h5>
							<p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
						</div>
						<div class="slider-pane-item pane-item-5">
							<h5 class="animate-up delay-5ms">Make transaction easy and with a less fee.</h5>
							<p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
						</div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section --> 
	
	
    <!-- Start Section -->
    <div class="section section-pad prblmsltn-section section-bg-alt" id="benifits">
			<div class="ui-shape ui-shape-s2"></div>
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-md-6 col-sm-8">
						<div class="section-head-s7">
							<h2 class="section-title-s7 " data-animate="fadeInUp" data-delay=".1">ICO Problem &amp; Solution</h2>
							<p class="" data-animate="fadeInUp" data-delay=".2">At vero eos et accusamus et iusto odio dignissimos ducimus qui blan ditiis praes entium volup tatum deleniti.</p>
						</div>
					</div>
				</div>
				<div class="prblmsltn-list">
					<div class="prblmsltn-item">
						<div class="row">
							<div class="col-md-6 col-sm-12 animate-left delay-5ms">
								<div class="prblm-item">
									<h2 class="prblm-title">Problem</h2>
									<h5 class="prblm-subtitle">Centralize Network</h5>
									<ul class="prblm-points">
										<li>What is the crypto tech? Lorem ipsum dolor sit amet, consectetur.</li>
										<li>Natural Language Understanding</li>
										<li>How to network with other investors / like-minded people?</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 animate-right delay-7ms">
								<div class="sltn-item">
									<h2 class="sltn-title">Solution</h2>
									<h5 class="sltn-subtitle">Decentralize Network</h5>
									<ul class="sltn-points">
										<li>What is the crypto tech? Lorem ipsum dolor sit amet, consectetur.</li>
										<li>Natural Language Understanding</li>
										<li>How to network with other investors / like-minded people?</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="prblmsltn-item">
						<div class="row">
							<div class="col-md-6 col-sm-12 animate-left delay-5ms">
								<div class="prblm-item">
									<h2 class="prblm-title">Problem</h2>
									<h5 class="prblm-subtitle">Centralize Network</h5>
									<ul class="prblm-points">
										<li>What is the crypto tech? Lorem ipsum dolor sit amet, consectetur.</li>
										<li>Natural Language Understanding</li>
										<li>How to network with other investors / like-minded people?</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 animate-right delay-7ms">
								<div class="sltn-item">
									<h2 class="sltn-title">Solution</h2>
									<h5 class="sltn-subtitle">Decentralize Network</h5>
									<ul class="sltn-points">
										<li>What is the crypto tech? Lorem ipsum dolor sit amet, consectetur.</li>
										<li>Natural Language Understanding</li>
										<li>How to network with other investors / like-minded people?</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Section -->
	
	<!-- Start Section -->
	<div class="section team-section section-pad section-bg-light-alt section-fix" id="team">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Our Team</h2>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
					<div class="team-described " data-animate="fadeInUp" data-delay=".2">
						<div class="d-flex">
							<div class="team-info">
								<h5 class="team-name">Waylon Dalton</h5>
								<span class="team-title">CEO &amp; <br> Lead Blockchain </span>
								<ul class="team-social">
									<li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
									<li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
									<li><a href="#"><em class="fab fa-twitter"></em></a></li>
								</ul>
							</div>
							<div class="team-photo">
								<img src="images/team-a-des.jpg" alt="team-hex">
							</div>
						</div>
						<ul class="team-discription">
							<li>5+ years in development expericences</li>
							<li>Vast exprerience in B2C on C-level positions</li>
						</ul>
					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
					<div class="team-described " data-animate="fadeInUp" data-delay=".3">
						<div class="d-flex">
							<div class="team-info">
								<h5 class="team-name">Waylon Dalton</h5>
								<span class="team-title">CEO &amp; <br> Lead Blockchain </span>
								<ul class="team-social">
									<li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
									<li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
									<li><a href="#"><em class="fab fa-twitter"></em></a></li>
								</ul>
							</div>
							<div class="team-photo">
								<img src="images/team-b-des.jpg" alt="team-hex">
							</div>
						</div>
						<ul class="team-discription">
							<li>5+ years in development expericences</li>
							<li>Vast exprerience in B2C on C-level positions</li>
						</ul>
					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
					<div class="team-described " data-animate="fadeInUp" data-delay=".4">
						<div class="d-flex">
							<div class="team-info">
								<h5 class="team-name">Waylon Dalton</h5>
								<span class="team-title">CEO &amp; <br> Lead Blockchain </span>
								<ul class="team-social">
									<li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
									<li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
									<li><a href="#"><em class="fab fa-twitter"></em></a></li>
								</ul>
							</div>
							<div class="team-photo">
								<img src="images/team-c-des.jpg" alt="team-hex">
							</div>
						</div>
						<ul class="team-discription">
							<li>5+ years in development expericences</li>
							<li>Vast exprerience in B2C on C-level positions</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div>
	</div>
	<!-- Start Section -->
	
	
	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-light" id="faq">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Frequently asked questions</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="accordion " data-animate="fadeInUp" data-delay=".2" id="accordion-1">
						<div class="card">
							<div class="card-header">
								<h5>
									<a data-toggle="collapse" data-target="#collapse-1-1">
										What is ICO Crypto?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
								<div class="card-body">
									<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h5>
									<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
									  What cryptocurrencies can I use to purchase?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
								<div class="card-body">
									<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h5>
									<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
									  How can I participate in the ICO Token sale?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
								<div class="card-body">
									<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h5>
									<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
									  How do I benefit from the ICO Token?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
								<div class="card-body">
									<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End col -->
			</div><!-- End row -->
		</div><!-- End container -->
	</div>
	<!-- End Section -->

</body>