<body class="theme-lavendar io-lavendar" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header -->
	<header class="site-header is-sticky">

		<!-- Place Particle Js -->
		<div id="particles-js" class="particles-container particles-js"></div>

		<!-- Banner/Slider -->
		<div id="header" class="banner">
			<div class="banner-rounded-bg">
				<span class="banner-shade-1">
					<span class="banner-shade-2">
						<span class="banner-shade-3"></span>
					</span>
				</span>
			</div>
			<div class="container">
				<div class="banner-content">
					<div class="row">
						<div class="col-lg-6">
							<div class="header-txt">
								<h1 class="" data-animate="fadeInUp" data-delay="1.25">Vertrieb und Beratung für
									Materialflusslösungen</h1>
								<p class="lead " data-animate="fadeInUp" data-delay="1.35">Die Interselect GmbH ist ein
									unabhängiges<br>und erfolgreiches Unternehmen in der Logistikbranche.</p>
							</div>
						</div><!-- .col  -->
						<div class="col-lg-6">
							<img class="conveyor" src="/assets/images/conveyorminimal.png" height="300" alt="">
						</div>
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div>
		</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->

	<!-- Start Section -->
	<div class="section partner-section section-bg-light">
		<div class="container text-center">
			<h6 class="small-heading " data-animate="fadeInUp" data-delay=".1">Unsere Kunden</h6>
			<ul class="partner-list-s2 d-flex flex-wrap align-items-center">
				<li class="" data-animate="fadeInUp" data-delay=".2"><a href="#"><img src="images/partner-xs-a.png"
							alt="partner"></a></li>
				<li class="" data-animate="fadeInUp" data-delay=".25"><a href="#"><img src="images/partner-xs-b.png"
							alt="partner"></a></li>
				<li class="" data-animate="fadeInUp" data-delay=".3"><a href="#"><img src="images/partner-xs-c.png"
							alt="partner"></a></li>
				<li class="" data-animate="fadeInUp" data-delay=".35"><a href="#"><img src="images/partner-xs-d.png"
							alt="partner"></a></li>
				<li class="" data-animate="fadeInUp" data-delay=".4"><a href="#"><img src="images/partner-xs-e.png"
							alt="partner"></a></li>
				<li class="" data-animate="fadeInUp" data-delay=".45"><a href="#"><img src="images/partner-xs-f.png"
							alt="partner"></a></li>
			</ul>
		</div>
	</div>
	<!-- End Section -->

	<!-- Start Section -->
	<div class="section about-section section-pad no-pb section-bg-light" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="about-section-innr section-bg-lavendar">
						<div class="about-shade"></div>
						<h6 class="" data-animate="fadeInUp" data-delay=".2">Über Synconsult</h6>
						<h3 class="" data-animate="fadeInUp" data-delay=".3">Wir und unser Partner Netzwerk stehen mit
							kompetenten und motivierten Mitarbeitern in jeder Hinsicht für Qualität und Zuverlässigkeit.
						</h3>
						<p class="" data-animate="fadeInUp" data-delay=".4">Auf Basis einer ergebnisorientierten
							Organisationsstruktur mit sehr kurzen Entscheidungswegen bieten wir unseren Kunden ein
							Höchstmaß an Flexibilität, um den Ansprüchen schnell und individuell gerecht zu werden. </p>
						<p class="" data-animate="fadeInUp" data-delay=".5">Mit der über 20jährigen Erfahrung in den
							Bereichen Vertrieb, Beratung und Realisierung von Logistikanlagen und Subsystemen, finden
							unsere Kunden in unserem Verbund von leistungsstarken professionellen Partnern in uns einen
							Ansprechpartner an ihrer Seite, für eine Vielzahl von Schlüsselkomponenten zu einer
							integrierten Logistiklösung.
						</p>
						<div class="about-info " data-animate="fadeInUp" data-delay=".7">
							<em class="ti ti-rocket"></em>
							<p>Pre-ICO ICOX Coin has already secured over 30 partnerships worldwide, with more
								partnerships being finalized each day.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="about-image " data-animate="fadeInUp" data-delay=".8">
						<img src="images/graph-lavendar-a.png" alt="graph">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section reason-scetion no-pb section-pad section-bg-light" id="why">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Darum Synconsult</h2>
			</div>
			<div class="shadow round-md plr-x4">
				<div class="gaps size-2x"></div>
				<div class="row text-center">
					<div class="col-md-6 res-m-bttm">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".2">
							<img src="images/lavender-icon-a.png" alt="lav">
							<h5>Erfahren</h5>
							<p>Über 20 Jahre Erfahrung in den Bereichen Vertrieb, Beratung und Realisierung</p>
						</div>
					</div>
					<div class="col-md-6 res-m-bttm">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".3">
							<img src="images/lavender-icon-b.png" alt="lav">
							<h5>Schnell</h5>
							<p>Erprobtes Programm nimmt die Komplexität</p>
						</div>
					</div>
					<div class="col-md-6 res-m-bttm">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".4">
							<img src="images/lavender-icon-c.png" alt="lav">
							<h5>Kompetent</h5>
							<p>Know-how aus über 250 erfolgreichen Projekten</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="reason-item " data-animate="fadeInUp" data-delay=".5">
							<img src="images/lavender-icon-d.png" alt="lav">
							<h5>Teamarbeit</h5>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vel.</p>
						</div>
					</div>
				</div><!-- .row  -->
				<div class="gaps size-2x"></div>
			</div>
		</div><!-- .container  -->
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section process-scetion section-pad section-bg-light">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Unsere Leistungen</h2>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="slider-nav">
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".2"><em
								class="ikon ikon-paricle"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".3"><em
								class="ikon ikon-connect"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".4"><em
								class="ikon ikon-target"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".5"><em
								class="ikon ikon-shiled"></em></div>
						<div class="slider-nav-item owl-dots " data-animate="fadeInUp" data-delay=".6"><em
								class="ikon ikon-id-card"></em></div>
					</div>
				</div><!-- .col  -->
				<div class="col-lg-5">
					<div class="slider-pane " data-animate="fadeInUp" data-delay=".7">
						<div class="slider-pane-item pane-item-1">
							<h5 class="animate-up delay-5ms">Planung, Beratung und Projektierung</h5>
							<p class="animate-up delay-6ms">Wir legen besonderen Wert darauf, Sie und Ihr Unternehmen
								genau zu kennen und eng mit Ihnen zusammenzuarbeiten. Darum stehen am Anfang jeder
								Aufgabe intensive Gespräche, kritische Analysen und detaillierte Bedarfsdefinitionen.
							</p>
						</div>
						<div class="slider-pane-item pane-item-2">
							<h5 class="animate-up delay-5ms">Projektmanagement und -realisierung</h5>
							<p class="animate-up delay-6ms">Ganzheitliche, intelligente Lösungen von „A“ wie „Analyse“
								bis „Z“ wie „ZSR“ sind unsere ganze Leidenschaft. Wenn Sie es möchten, legen Sie also
								die gesamte Durchführung Ihrer Projekte gerne in unsere erfahrenen Hände.
							</p>
						</div>
						<div class="slider-pane-item pane-item-3">
							<h5 class="animate-up delay-5ms">Logistikanlagen und Automatisierungen</h5>
							<p class="animate-up delay-6ms">Mit maßgeschneiderten Intralogistik-Konzepten und
								passgenauen, effizienten Umsetzungen aus einer Hand machen wir Ihre Anlagen und Systeme
								und damit Ihr Unternehmen fit für die Zukunft.
							</p>
						</div>
						<div class="slider-pane-item pane-item-4">
							<h5 class="animate-up delay-5ms">Materialflussysteme und Visualisierungen</h5>
							<p class="animate-up delay-6ms">In immer kürzer werdenden Intervallen verändern sich in
								jedem Bereich Ihres Unternehmens die täglichen Anforderungen und Rahmenbedingungen. Nur
								wer schnell und mit Weitblick reagiert, wird seine Marktstellung verteidigen und weiter
								ausbauen können.
							</p>
						</div>
						<div class="slider-pane-item pane-item-5">
							<h5 class="animate-up delay-5ms">Modernisierung und Erweiterungen</h5>
							<p class="animate-up delay-6ms">Zeit ist Geld. Und verlorene Zeit ist verlorenes Geld.
								Folglich müssen Sie im Sinne Ihres Unternehmens den Funktionsumfang Ihrer Anlagen und
								Systeme kontinuierlich und flexibel den aktuellsten technologischen Anforderungen
								anpassen.
							</p>
						</div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="text-center my-5">
				<button type="submit" class="btn btn-plane my-5 px-5">Mehr über Leistungen</button>
			</div>
		</div><!-- .container  -->
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section section-pad prblmsltn-section section-bg-alt" id="benifits">
		<div class="ui-shape ui-shape-s2"></div>
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-md-6 col-sm-8">
					<div class="section-head-s7">
						<h2 class="section-title-s7 " data-animate="fadeInUp" data-delay=".1">Herausforderungen &amp;
							Lösungen
						</h2>
						<p class="" data-animate="fadeInUp" data-delay=".2">Fachkompetenz aus einer Hand, bei der Sie
							sich auf Eines immer verlassen können: unsere flexible, engagierte und präzise Arbeit. Für
							Sie, für Ihr Unternehmen und für Ihre ganz individuellen Aufgaben und Anforderungen.</p>
					</div>
				</div>
			</div>
			<div class="prblmsltn-list">
				<div class="prblmsltn-item">
					<div class="row">
						<div class="col-md-6 col-sm-12 animate-left delay-5ms">
							<div class="prblm-item">
								<h2 class="prblm-title">Herausforderung</h2>
								<h5 class="prblm-subtitle">Modernisierung und Automatisierung</h5>
								<ul class="prblm-points">
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 animate-right delay-7ms">
							<div class="sltn-item">
								<h2 class="sltn-title">Lösung</h2>
								<h5 class="sltn-subtitle">Steuerung für Komissionierlager</h5>
								<ul class="sltn-points">
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="prblmsltn-item">
					<div class="row">
						<div class="col-md-6 col-sm-12 animate-left delay-5ms">
							<div class="prblm-item">
								<h2 class="prblm-title">Herausforderung</h2>
								<h5 class="prblm-subtitle">Renovierung und technische Ausstattung</h5>
								<ul class="prblm-points">
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 animate-right delay-7ms">
							<div class="sltn-item">
								<h2 class="sltn-title">Lösung</h2>
								<h5 class="sltn-subtitle">Fördertechnik, Tragrollen und Antriebe</h5>
								<ul class="sltn-points">
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
									<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Start Section -->
	<div class="section team-section section-pad section-bg-light-alt section-fix" id="team">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Das Team</h2>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
					<div class="team-described " data-animate="fadeInUp" data-delay=".2">
						<div class="d-flex">
							<div class="team-info">
								<h5 class="team-name">Sven Grötzebauch</h5>
								<span class="team-title">Geschäftsführer</span>
								<ul class="team-social">
									<li><a href="#"><em class="fab fa-xing"></em></a></li>
									<li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
								</ul>
							</div>
							<div class="team-photo">
								<img src="images/team-a-des.jpg" alt="team-hex">
							</div>
						</div>
						<ul class="team-discription">
							<li>Über 15 Jahre Erfahrung in Vertrieb und Beratung</li>
							<li>Namhafte Unternehmen erfolgreich betreut</li>
						</ul>
					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
					<div class="team-described " data-animate="fadeInUp" data-delay=".3">
						<div class="d-flex">
							<div class="team-info">
								<h5 class="team-name">Ingo Biermann</h5>
								<span class="team-title">CTO</span>
								<ul class="team-social">
									<li><a href="#"><em class="fab fa-xing"></em></a></li>
									<li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
								</ul>
							</div>
							<div class="team-photo">
								<img src="images/team-b-des.jpg" alt="team-hex">
							</div>
						</div>
						<ul class="team-discription">
							<li>Über 15 Jahre Erfahrung in Anwendungsentwicklung</li>
							<li>Spezialisiert auf Softwarelösungen für die Logistikbranche
							</li>
						</ul>
					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
					<div class="team-described " data-animate="fadeInUp" data-delay=".4">
						<div class="d-flex">
							<div class="team-info">
								<h5 class="team-name">Mark Heuwagen</h5>
								<span class="team-title">COO</span>
								<ul class="team-social">
									<li><a href="#"><em class="fab fa-xing"></em></a></li>
									<li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
								</ul>
							</div>
							<div class="team-photo">
								<img src="images/team-c-des.jpg" alt="team-hex">
							</div>
						</div>
						<ul class="team-discription">
							<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit</li>
							<li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div>
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-light" id="faq">
		<div class="container">
			<div class="section-head-s3 text-center">
				<h2 class="section-title " data-animate="fadeInUp" data-delay=".1">Antworten auf einer Hand</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="accordion " data-animate="fadeInUp" data-delay=".2" id="accordion-1">
						<div class="card">
							<div class="card-header">
								<h5>
									<a data-toggle="collapse" data-target="#collapse-1-1">
										Wie verläuft die Projektabwicklung?<span class="plus-minus"><span
												class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
								<div class="card-body">
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique veritatis
										necessitatibus quisquam aut minima. Nisi autem sapiente est cumque sed.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h5>
									<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
										Wann sind wir erreichbar?<span class="plus-minus"><span
												class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
								<div class="card-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque earum
										nihil beatae blanditiis fugit suscipit quaerat esse itaque assumenda.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h5>
									<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
										Wie lange dauert eine Projektabwicklung?<span class="plus-minus"><span
												class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
								<div class="card-body">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eius suscipit
										nesciunt nisi architecto, excepturi ab quasi aliquam nostrum. Alias!</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h5>
									<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
										Nach welchen Kriterien wie ein Projekt aufstellt?<span class="plus-minus"><span
												class="ti ti-angle-up"></span></span>
									</a>
								</h5>
							</div>
							<div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
								<div class="card-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dicta aspernatur
										adipisci vitae sequi esse iure, natus impedit iste hic!</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End col -->
			</div><!-- End row -->
		</div><!-- End container -->
	</div>
	<!-- End Section -->


</body>